./checkpoints/*
./results/*
./data/*
**/*.pt
**/*.png
**/*.gif
**/*.json
**/*.csv
**/*.txt
**/*.log
**/*.err
**/*.out
**/*.err

__pycache__/**
/checkpoints/**
/results/**
/data/**

*.pt
*.png
*.gif
*.json
*.csv
*.txt
*.log
*.err
*.out
*.err